body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #d9d9d9;
}

header {
	margin: 0px;
}

.usgs {
	background-color: #dbebc7;
}

.jumbotron {
	background-color: #5a8624;
	padding: 0%;
	margin: 0px;
	font-family: 'Mina', sans-serif;
	color: #a5c35c;
}

.jumbotron h2 {
	color: #3a3a3a;
	font-family: 'IM Fell DW Pica SC', serif;
	/* font-family: 'Vollkorn SC', serif; */
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
}

.navbar-default {
	border-radius: 0px;
	border-color: #3a3a3a;
	background-color: #3a3a3a;
	background-image: none;
	font-color: #a5c35c;
}

.navbar-default .navbar-brand {
	color: grey;
	font-size: 20px;
	font-family: 'IM Fell DW Pica SC', serif;
}

.navbar-default .navbar-brand:hover {
	color: #a5c35c;
}

.navbar-default .navbar-brand:focus {
	color: #5a8624;
}

.navbar-default .navbar-nav li a {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #d9d9d9;
}

.navbar-default .navbar-nav li a:hover {
	background-color: #a5c35c;
	color: #3a3a3a;
}

.navbar-default .navbar-nav li a:focus {
	background-color: #5a8624;
	color: #ffffff
}

.navbar-header {
	color: #3a3a3a;
}

.navbar-header .navbar-toggle {
	background-color: #d9d9d9;
}

.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
	background-color: #5a8624;
	color: black;
}

.navbar-fixed-bottom {
	background-color: #5a8624;
}

.row {
	padding-bottom: 20px;
}

.row p {
	font-family: 'IM Fell DW Pica SC', serif;
	font-size: 22px;
	color: #3a3a3a;
}

.row li {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 16px;
	color: #3a3a3a;
}

.mylinks {
	color: #5a8624;
}

.mylinksx {
	font-weight: bold;
	color: #3a3a3a;
}

/* NOTE: focus is BEFORE hover for these links*/
/* ensures that hover takes precedence, changes color of anchor even if it has been clicked */
.mylinks:focus, .mylinksx:focus {
	color: #3a3a3a;
}

.mylinks:hover, .mylinksx:hover {
	color: #a5c35c;
}
/* ------------------------------------------ */

img.aboutpage {
	border-color: #3a3a3a;
	border-width: 2px;
	background-color: #a5c35c;
	margin-right: 15px;
	margin-left: 15px;
}

h2.map-title {
	font-family: 'IM Fell DW Pica SC', serif;
}

p.smallguy {
		font-size: 15px;
}

p.map-description {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 16px;
}

p.title {
	text-align: center;
}

.map-thumbnail, .article-thumbnail {
	background-color: #dbebc7;
	border-color: #3a3a3a;
	border-width: 2px;
	width: 290px;
}

.map-thumbnail:hover, .article-thumbnail:hover {
	background-color: #5a8624;
}

.myresume {
	color: #3a3a3a;
}

.myresume h2 {
	color: #5a8624;
}

.myresume li {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
}

.active {
	background-color: #5a8624;
}

/* resizes all the indicated elements for smaller screens */
@media only screen and (max-width: 600px) {
	.jumbotron h2 {
		font-size: 24px;}
	.jumbotron p {
		font-size: 15px;}
	.navbar-default .navbar-brand {
		font-size: 15px;}
	.row p {
		font-size: 22px;}
	.row li {
		font-size: 13px;}
	h2.map-title {
		font-size: 22px;}
	p.smallguy {
		font-size: 13px;}
	p.map-description {
		font-size: 13px;}
}

.footer h4 {
	color: #3a3a3a;
}

.footer ul {
	padding-left: 0px;
}

.footer a {
	color: #a5c35c;
}

.footer i {
	padding-right: 5px;
	color: #a5c35c;
	font-size: 20px;
}
